.container {
    width: 620px;
    background-color: var(--dark-700);
    color: var(--white);

    h2 {
        margin: 1rem 0;
    }

    .table {
        font-size: 1.4rem;
        color: var(--green-900);
    }

    .containerItem {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;

        strong {
            color: var(--green-900);
        }

        img {
            margin-left: 1em;
        }
    }

    .description {
        margin-top: 0.5rem;
        //se chegar a descrição no final do modal quero que quebre para linha de baixo
        word-break: break-all;
    }

}
.buttonOrder {
    margin-top: 1.5rem;
    background-color: rgba(0,0,0, 40%);
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.2rem;
    color: var(--red-900);
    font-weight: bold;

    &:hover {
        background-color: rgb(63, 255, 163);
        color: var(--dark-700);
        font-weight: bold;
    }
}

@media (max-width: 700px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 260px;
    }
}